<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STCrawler.Configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="STCrawler.STConfigurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <applicationSettings>
        <STCrawler.Configurations>
            <setting name="ChromePath" serializeAs="String">
                <value>test</value>
            </setting>
        </STCrawler.Configurations>
    </applicationSettings>
    <userSettings>
        <STCrawler.STConfigurations>
            <setting name="ReAttempts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ScheduledHour" serializeAs="String">
                <value>2,4,6,8,9</value>
            </setting>
            <setting name="ST_UsernamePassword" serializeAs="String">
                <value>61053682~smile@15</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>R3qPzdrsH5cG9m2Gk0A9ztxvqZzRVZT83vu3/DkvsVwPdxy9hEzVBoZ8g1Y4eeZLCVDkn8P/XLr6aW0fSsJZ6lwthCppneCd7/l98CYuAkBI/dv8ZFssWMZkK9L8fOgtwtSxTzO3p5C1299fzYUtAX/cAl1SbJXuTMJnYPk+96E=</value>
            </setting>
            <setting name="ST_URL" serializeAs="String">
                <value>https://www.socialtrade.biz/User/MyePoints.aspx</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>sid</value>
            </setting>
            <setting name="placeholder" serializeAs="String">
                <value>//*[@id='ajax-content']/table[2]/tbody/tr[{0}]/td[4]/span</value>
            </setting>
            <setting name="ClosePopupsAfter" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="PopupWaitTiming" serializeAs="String">
                <value>35</value>
            </setting>
        </STCrawler.STConfigurations>
    </userSettings>
</configuration>
