<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STCrawler.STConfigurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="STCrawler.Configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <STCrawler.STConfigurations>
            <setting name="ChromePath" serializeAs="String">
                <value>C:\Users\Acer\AppData\Local\Google\Chrome\Application\chrome.exe</value>
            </setting>
        </STCrawler.STConfigurations>
        <STCrawler.Configurations>
            <setting name="ChromePath" serializeAs="String">
                <value>test</value>
            </setting>
        </STCrawler.Configurations>
    </applicationSettings>
</configuration>