<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STCrawler.Configurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="STCrawler.STConfigurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <STCrawler.Configurations>
            <setting name="ChromePath" serializeAs="String">
                <value>test</value>
            </setting>
        </STCrawler.Configurations>
    </applicationSettings>
    <userSettings>
        <STCrawler.STConfigurations>
            <setting name="ChromePath" serializeAs="String">
                <value>C:\Users\siddharth.gupta\AppData\Local\Google\Chrome SxS\Application\</value>
            </setting>
            <setting name="ReAttempts" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SleepBy" serializeAs="String">
                <value>55000</value>
            </setting>
            <setting name="SkipRequestWork" serializeAs="String">
                <value>1</value>
            </setting>
        </STCrawler.STConfigurations>
    </userSettings>
</configuration>