<h1>

    {{pageTitle}}{{event.eventName}}</h1>
<hr>

<table class="table table-hover table-striped">
    <tr>
        <th>Event Id</th>
        <td><span [innerText]="event.eventId"></span></td>
    </tr>
    <tr>
        <th>Event Code</th>
        <td><span [innerText]="event.eventCode | lowercase"></span></td>
    </tr>
    <tr>
        <th>Event Name</th>
        <td><span [innerText]="event.eventName | uppercase"></span></td>
    </tr>
    <tr>
        <th>Event Description</th>
        <td><span [innerText]="event.description | firstLetterCapital"></span></td>
    </tr>
    <tr>
        <th>Event Start Date</th>
        <td><span [innerText]="event.startDate | date:'mediumDate'"></span></td>
    </tr>
    <tr>
        <th>Event End Date</th>
        <td><span [innerText]="event.endDate | date:'mediumDate'"></span></td>
    </tr>
    <tr>
        <th>Attendance</th>
        <td>
            <div class="progress progress-striped active">
                <div class="progress-bar" [style.width]="event.attendace +'%'"></div>
            </div>
</td>
</tr>




<tr>
    <th>Event Logo</th>
    <td><img [src]="event.logi"></td>
</tr>
</table>