<h1 [innerText]="pageTitle"></h1>
<hr>
<table class="table table-hover table-striped" *ngIf="posts.length>0;else noDataTemplate">
    <thead>
        <tr>
            <th>UserId</th>
            <th>Post Id</th>
            <th>Post Title</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td><span [innerText]="post.userId"></span></td>
            <td><span [innerText]="post.id"></span></td>
            <td><span [innerText]="post.title"></span></td>
            <td><span [innerText]="post.body"></span></td>
        </tr>
    </tbody>
</table>
<ng-template #noDataTemplate>
    <h3>No Post Data Found !!! </h3>
</ng-template>
<div class="container-fluid" *ngIf="">
</div>