<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AdCashCrawler.ACConfigurations" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AdCashCrawler.ACConfigurations>
            <setting name="AC_URL" serializeAs="String">
                <value>http://adscash.in/userpanel/browsing_page_updated.php</value>
            </setting>
            <setting name="AC_UsernamePassword" serializeAs="String">
                <value>34119123~378984</value>
            </setting>
            <setting name="Code" serializeAs="String">
                <value>ur AdCash Code</value>
            </setting>
            <setting name="theme" serializeAs="String">
                <value>sid</value>
            </setting>
            <setting name="placeholder" serializeAs="String">
                <value />
            </setting>
            <setting name="ClosePopupsAfter" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ScheduledHour" serializeAs="String">
                <value>2,4,6,8</value>
            </setting>
        </AdCashCrawler.ACConfigurations>
    </userSettings>
</configuration>